 <header class="mobile">
               <div class="row">
                  <div class="col full">
                     <div class="logo">
                        <a href="#">maybank2u.com</a>
                     </div>
                      <nav id="nav-wrap">
                        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
                        <ul id="nav" class="nav">
                           <li><a href="#intro">Home</a></li>
                           <li><a href="#accounts">Accounts</a></li>
                           <li><a href="#cards">Cards</a></li>
                           <li><a href="#investment">Investment</a></li>
                           <li><a href="#insurance">Insurance</a></li>                           
                           <li><a href="#loans">Loans</a></li>
                           <li><a href="#contact">Other Services</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </header>